 body {

     background-color:white;
   
     
 }  

 
 h1 {

    margin-left: 250px;
    margin-bottom: 55px;

 } 

 #purchasebtn {

    margin-top: 80px;
    margin-left: 650px;

 }
  
  

  
 
  
